<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Finish</th>
      <th>Hours</th>
      <th>Cost</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= t.reservation.start %></td>
        <td><%= t.reservation.finish %></td>
        <td><%= t.reservation.hours %></td>
        <td><%= number_to_currency(t.reservation.calculate_cost(t.price.pennies)) %></td>
        <td><%= link_to "View ticket", qr_reservation_path(t.reservation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
