<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @reservation.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @reservation.finish %>
</p>

<p>
  <strong>Customers:</strong>
  <%= @reservation.customers %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
